<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="../static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="../static/img/pfp.jpeg">
      </div>
      <h1>MLH Portfolio
    </div>

    <!-- About Me Section -->
    <div class="about-me">
      <p id="about-me-title">About Me!</p>
      <p id="about-me-intro">Hi! I'm <strong>Michael!</strong> I am a freshman at CUNY Hunter College majoring in Computer Science. I am currently invested with learning full-stack web development with hopes of becoming a software engineer in the future!</p>
      <p style="font-size: 20px; text-align: center;">I am currently working on two projects: </p>
      <div class="about-me-imgs">
        <div style="display: flex; flex-direction: column; align-items: center;">          
          <p style="font-size: 25px; margin-bottom: 0px;"><strong>backlight-simulator</strong></p>
          <p>Simulated the dynamic backlighting effect of RGB lights behind TVs/monitors by using React.js, TypeScript, computer vision, and WebGPU</p>
          <img class="big-img" src="../static/img/backlight.gif"/>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">          
          <p style="font-size: 25px; margin-bottom: 0px;"><strong>mockr</strong></p>
          <p>An AI powered mock coding interview platform aimed for practicing both communication and techincal skills</p>
          <img style="border: 3px solid black; width:900px; height: auto;" src="../static/img/mockr.png"/>
        </div>
      </div>

      <p id="about-me-desc">Outside of programming, I enjoy playing video games and basketball with my friends, as well as adore weight training at least 3x a week! I also enjoy eating out and catching up with friends and loved ones, and have really been into eating Vietnamese food :)</p>
      <div class="about-me-imgs">
        <img class="small-img" src="../static/img/pho.jpg"/>
        <div class="stacked-imgs">
          <img class="small-img" src="../static/img/minecraft.avif"/>
          <img class="small-img" src="../static/img/basketball.jpeg"/>
        </div>
      </div>
    </div>

    <!-- Work Experience -->
    <div>
      <h1 style="text-align: center;">Previous Work Experience</h1>
      {%  for job in work_experiences %}
        <div class="work">
          <img class="small-img" src="../static/img/{{ job.image }}"/>
          <div class="work-description">
            <h2>I previously worked at {{ job.company}} as a <strong>software engeineer intern</strong>. Here, I was able to work on two projects: </h2>
            <div style="width: 90%;">
              <p style="font-size: 20px;">{{ job.description  }}</p>
            {% if job.description2 %}
              <p style="font-size: 20px;">{{ job. description2 }}</p>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>  

    <!-- Hobbies -->
    <div>
      <h1 style="margin-top: 50px; text-align: center;"><strong>Hobbies</strong></h1>
      <h3 style="text-align: center; margin-bottom: 20px;">Outside of programming, school, and other chores/work, I have various activities I partake in!</h3>

      {% for hobby in hobbies %}
        <p style="font-size: 20px; text-align: center;">{{ hobby.description }}</p>
         {% if loop.index0 == 1 %}
          <div style="display: flex; justify-content: center;">
            <img class="hobby-images" src="../static/img/{{ hobby.image1 }}"/>
            <img class="hobby-images" src="../static/img/{{ hobby.image2 }}"/>
          </div>
        {% else %}
          <div style="display: flex; justify-content: center;">
            <img class="small-img" src="../static/img/{{ hobby.image1 }}"/>
            <img class="small-img" src="../static/img/{{ hobby.image2 }}"/>
            <img class="small-img" src="../static/img/{{ hobby.image3 }}"/>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Education -->
    <div>

      <h1 style="text-align: center;">Education</h1>
      {% for education in education %}
        <div>
          <p style="font-size: 20px; text-align: center;">{{ education.description }}</p>
          <div style="display: flex; justify-content: center; align-items: center;">
            <img class="small-img" src="../static/img/{{ education.image1 }}"/>
            <img style="border: 2px solid black; width: 25%; height: auto; margin-left: 5px;" src="../static/img/{{ education.image2 }}"/>
            <img style="border: 2px solid black; width: 25%; height: auto; margin-left: 5px;" src="../static/img/{{ education.image3 }}"/>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Locations -->
    <div>
      <h1 style="text-align: center; margin-top: 30px;">Locations</h1>
      <p style="font-size: 20px; text-align: center;">Fun fact... I have never been on a plane yet... but I have went to many cool places!</p>
      <p style="font-size: 20px; text-align: center;">Some random places I've went to this past year was Columbia's DivHacks, Princeton's HackPrinceton, my sister's Cornell graduation, and Boston!!!</p>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img class="location-images" src="../static/img/hackprinceton.jpeg"/>
          <img class="location-images" src="../static/img/princeton.jpeg"/>
          <img class="location-images" src="../static/img/divhacks.jpeg"/>
          <img class="location-images" src="../static/img/cornell.jpeg"/>
          <img class="location-images" src="../static/img/boston.jpeg"/>
        </div>
    </div>

  </body>
</html>
